Repository TreeOfAKind/TreeOfAKind, pull requests merged in 2020-11, with the labels that each got.

#55 Allow anything to pass through non production CORS
  backend/TreeOfAKind.API/Startup.cs
Labels: backend

#58 Add firebase authentication
  web/.vscode/launch.json
  web/package-lock.json
  web/package.json
  web/src/app/app-routing.module.ts
  web/src/app/app.component.html
  web/src/app/app.module.ts
  web/src/app/authentication/login/login.component.html
  web/src/app/authentication/login/login.component.scss
  web/src/app/authentication/login/login.component.ts
  web/src/app/authentication/register/register.component.html
  web/src/app/authentication/register/register.component.scss
  web/src/app/authentication/register/register.component.ts
  web/src/app/authentication/shared/auth.guard.ts
  web/src/app/authentication/shared/auth.service.ts
  web/src/app/authentication/shared/token-interceptor.ts
  web/src/app/home/home.component.html
  web/src/app/home/home.component.scss
  web/src/app/home/home.component.ts
  web/src/app/home/home.service.ts
  web/src/app/navbar/navbar.component.html
  web/src/app/navbar/navbar.component.ts
  web/src/environments/environment.ts
Labels: Web

#61 Add user profiles api
  backend/Tests/TreeOfAKind.UnitTests/TreeOfAKind.UnitTests.csproj
  backend/Tests/TreeOfAKind.UnitTests/UserProfiles/UserProfileCommandHandlers.cs
  backend/Tests/TreeOfAKind.UnitTests/UserProfiles/UserProfileDomain.cs
  backend/TreeOfAKind.API/IdDto.cs
  backend/TreeOfAKind.API/PingController.cs
  backend/TreeOfAKind.API/SeedWork/BusinessRuleValidationExceptionProblemDetails.cs
  backend/TreeOfAKind.API/SeedWork/Helpers.cs
  backend/TreeOfAKind.API/SeedWork/InvalidCommandProblemDetails.cs
  backend/TreeOfAKind.API/SeedWork/UnauthorizedProblemDetails.cs
  backend/TreeOfAKind.API/UserProfiles/CreateOrUpdateUserProfileRequest.cs
  backend/TreeOfAKind.API/UserProfiles/UserProfileController.cs
  backend/TreeOfAKind.Application/Command/UserProfiles/CreateOrUpdateUserProfile/CreateOrUpdateUserProfileCommand.cs
  backend/TreeOfAKind.Application/Command/UserProfiles/CreateOrUpdateUserProfile/CreateOrUpdateUserProfileCommandHandler.cs
  backend/TreeOfAKind.Application/Command/UserProfiles/CreateOrUpdateUserProfile/CreateOrUpdateUserProfileCommandValidator.cs
  backend/TreeOfAKind.Application/Configuration/StringLengths.cs
  backend/TreeOfAKind.Application/Query/UserProfiles/GetMyUserProfile/GetMyUserProfileQuery.cs
  backend/TreeOfAKind.Application/Query/UserProfiles/GetMyUserProfile/GetMyUserProfileQueryHandler.cs
  backend/TreeOfAKind.Application/Query/UserProfiles/GetMyUserProfile/UserProfileDto.cs
  backend/TreeOfAKind.Application/TreeOfAKind.Application.csproj
  backend/TreeOfAKind.Domain/UserProfiles/IUserProfileRepository.cs
  backend/TreeOfAKind.Domain/UserProfiles/UserProfile.cs
  backend/TreeOfAKind.Domain/UserProfiles/UserProfileUpdatedEvent.cs
  backend/TreeOfAKind.Infrastructure/Domain/UserProfiles/UserProfileRepository.cs
  backend/TreeOfAKind.Infrastructure/Domain/UserProfiles/UserProfileTypeConfiguration.cs
Labels: backend

#76 Create mobile CI
  .github/workflows/mobile-ci.yml
  mobile/lib/main_test.dart
Labels: mobile

#75 Fix logging for AutoFac >6
  backend/TreeOfAKind.Application/Configuration/Commands/ICommand.cs
  backend/TreeOfAKind.Infrastructure/Logging/LoggingCommandHandlerDecorator.cs
  backend/TreeOfAKind.Infrastructure/Logging/LoggingCommandHandlerWithResultDecorator.cs
  backend/TreeOfAKind.Infrastructure/Processing/ProcessingModule.cs
Labels: backend
