Repository TreeOfAKind/TreeOfAKind, pull requests merged in 2020-12, with the labels that each got.

#91 Add Datadog log sink
  backend/TreeOfAKind.API/Startup.cs
  backend/TreeOfAKind.API/TreeOfAKind.API.csproj
  backend/TreeOfAKind.API/appsettings.json
  backend/TreeOfAKind.Infrastructure/Logging/LoggingCommandHandlerWithResultDecorator.cs
Labels: backend

#89 Add tree query
  backend/Tests/TreeOfAKind.IntegrationTests/PeopleOperations.cs
  backend/Tests/TreeOfAKind.IntegrationTests/TreeCreation.cs
  backend/Tests/TreeOfAKind.UnitTests/Trees/PeopleDomain.cs
  backend/Tests/TreeOfAKind.UnitTests/Trees/TreeRelationsDomain.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTree/GetTreeQuery.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTree/GetTreeQueryHandler.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTree/TreeDto.cs
  backend/TreeOfAKind.Application/Query/Trees/TreeQueryBase.cs
  backend/TreeOfAKind.Application/Query/Trees/TreeQueryBaseAuthorizer.cs
  backend/TreeOfAKind.Application/Query/Trees/TreeQueryBaseValidator.cs
  backend/TreeOfAKind.Domain/Trees/RelationType.cs
  backend/TreeOfAKind.Domain/Trees/Rules/ThereAreNoCyclesInRelationsRule.cs
  backend/TreeOfAKind.Domain/Trees/ThereAreOnlyOneParentOfEachGender.cs
  backend/TreeOfAKind.Domain/Trees/TreeRelations.cs
  backend/TreeOfAKind.Infrastructure/Processing/MediatorModule.cs
  backend/TreeOfAKind.sln
Labels: backend

#88 User profile
  mobile/lib/app/dependencies_factory.dart
  mobile/lib/app/dependencies_injector.dart
  mobile/lib/contracts/common/base_repository.dart
  mobile/lib/contracts/ping/contracts.dart
  mobile/lib/contracts/ping/contracts.g.dart
  mobile/lib/contracts/user_profile/contracts.dart
  mobile/lib/contracts/user_profile/contracts.g.dart
  mobile/lib/contracts/user_profile/user_profile_repository.dart
  mobile/lib/features/cqrs/cqrs_client.dart
  mobile/lib/features/home/home.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/lib/features/home/widgets/widgets.dart
  mobile/lib/features/login/view/login_form.dart
  mobile/lib/features/login/view/login_page.dart
  mobile/lib/features/sign_up/view/sign_up_form.dart
  mobile/lib/features/user_profile/bloc/user_profile_bloc.dart
  mobile/lib/features/user_profile/bloc/user_profile_event.dart
  mobile/lib/features/user_profile/bloc/user_profile_state.dart
  mobile/lib/features/user_profile/view/avatar.dart
  mobile/lib/features/user_profile/view/user_profile_page.dart
  mobile/lib/features/user_profile/view/user_profile_view.dart
  mobile/lib/main_common.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/features/home/view/home_page_test.dart
  mobile/test/features/user_profile/view/avatar_test.dart
  mobile/test/features/user_profile/view/user_profile_view_test.dart
Labels: mobile

#84 User profile form
  web/angular.json
  web/e2e/tsconfig.json
  web/package-lock.json
  web/package.json
  web/src/app/app-routing.module.ts
  web/src/app/app.component.scss
  web/src/app/app.module.ts
  web/src/app/authentication/login/login.component.html
  web/src/app/authentication/register/register.component.html
  web/src/app/authentication/shared/auth.service.ts
  web/src/app/navbar/navbar.component.html
  web/src/app/user-profile/shared/user-profile.model.ts
  web/src/app/user-profile/shared/user-profile.service.ts
  web/src/app/user-profile/user-profile-form/user-profile-form.component.html
  web/src/app/user-profile/user-profile-form/user-profile-form.component.scss
  web/src/app/user-profile/user-profile-form/user-profile-form.component.spec.ts
  web/src/app/user-profile/user-profile-form/user-profile-form.component.ts
  web/src/environments/environment.prod.ts
  web/tsconfig.app.json
  web/tsconfig.base.json
  web/tsconfig.json
  web/tsconfig.spec.json
Labels: Web

#105 Add trees list
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/tree/shared/tree.service.ts
  web/src/app/tree/shared/trees-list-element.model.ts
  web/src/app/tree/shared/trees-list-response.model.ts
  web/src/app/tree/trees-list/trees-list.component.html
  web/src/app/tree/trees-list/trees-list.component.scss
  web/src/app/tree/trees-list/trees-list.component.spec.ts
  web/src/app/tree/trees-list/trees-list.component.ts
  web/src/assets/add-black-18dp.svg
  web/src/assets/nature-24px.svg
Labels: Web

#97 Trees list & adding new trees
  mobile/lib/app/dependencies_factory.dart
  mobile/lib/app/dependencies_injector.dart
  mobile/lib/contracts/tree/contracts.dart
  mobile/lib/contracts/tree/contracts.g.dart
  mobile/lib/contracts/tree/tree_repository.dart
  mobile/lib/contracts/user_profile/user_profile_repository.dart
  mobile/lib/features/home/bloc/tree_list_bloc.dart
  mobile/lib/features/home/bloc/tree_list_event.dart
  mobile/lib/features/home/bloc/tree_list_state.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/lib/features/home/view/tree_list_view.dart
  mobile/lib/features/sign_up/view/sign_up_form.dart
  mobile/lib/features/sign_up/view/sign_up_page.dart
  mobile/lib/features/user_profile/view/user_profile_page.dart
  mobile/lib/features/user_profile/view/user_profile_view.dart
  mobile/lib/main_common.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/app/app_test.dart
  mobile/test/features/home/view/home_page_test.dart
  mobile/test/features/user_profile/view/user_profile_view_test.dart
Labels: mobile

#107 Fix authentication layout and logic
  web/src/app/authentication/login/login.component.html
  web/src/app/authentication/shared/auth.service.ts
  web/src/app/authentication/shared/user.model.ts
  web/src/app/navbar/navbar.component.html
  web/src/app/navbar/navbar.component.ts
Labels: Web

#106 Add tree creating
  web/src/app/app.module.ts
  web/src/app/tree/shared/tree-create-request.model.ts
  web/src/app/tree/shared/tree.service.ts
  web/src/app/tree/tree-create/tree-create.component.html
  web/src/app/tree/tree-create/tree-create.component.scss
  web/src/app/tree/tree-create/tree-create.component.spec.ts
  web/src/app/tree/tree-create/tree-create.component.ts
  web/src/app/tree/trees-list/trees-list.component.html
  web/src/app/tree/trees-list/trees-list.component.scss
  web/src/app/tree/trees-list/trees-list.component.ts
Labels: Web

#109 Feature: Deleting trees
  mobile/lib/contracts/owners/contracts.dart
  mobile/lib/contracts/owners/contracts.g.dart
  mobile/lib/contracts/tree/tree_repository.dart
  mobile/lib/features/cqrs/command_result.dart
  mobile/lib/features/cqrs/cqrs_client.dart
  mobile/lib/features/home/bloc/tree_list_bloc.dart
  mobile/lib/features/home/bloc/tree_list_event.dart
  mobile/lib/features/home/bloc/tree_list_state.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/lib/features/home/view/tree_list_view.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/app/app_test.dart
Labels: mobile

#113 Add person form
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/helpers/form-action.enum.ts
  web/src/app/people/person-form/person-form.component.html
  web/src/app/people/person-form/person-form.component.scss
  web/src/app/people/person-form/person-form.component.ts
  web/src/app/people/shared/gender.enum.ts
  web/src/app/people/shared/people.service.ts
  web/src/app/people/shared/person-form.model.ts
  web/src/app/tree/shared/tree.model.ts
  web/src/app/tree/shared/tree.service.ts
  web/src/app/tree/shared/trees-list-element.model.ts
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/app/tree/tree-view/tree-view.component.scss
  web/src/app/tree/tree-view/tree-view.component.ts
  web/src/app/tree/trees-list/trees-list.component.html
  web/src/app/tree/trees-list/trees-list.component.scss
  web/src/app/tree/trees-list/trees-list.component.spec.ts
  web/src/app/tree/trees-list/trees-list.component.ts
  web/src/environments/environment.ts
Labels: Web

#114 Feature: People graph view POC
  mobile/lib/contracts/people/contracts.dart
  mobile/lib/contracts/people/contracts.g.dart
  mobile/lib/contracts/tree/contracts.dart
  mobile/lib/contracts/tree/contracts.g.dart
  mobile/lib/contracts/tree/tree_repository.dart
  mobile/lib/features/home/bloc/tree_list_bloc.dart
  mobile/lib/features/home/bloc/tree_list_event.dart
  mobile/lib/features/home/view/tree_list_view.dart
  mobile/lib/features/tree/bloc/tree_bloc.dart
  mobile/lib/features/tree/bloc/tree_event.dart
  mobile/lib/features/tree/bloc/tree_state.dart
  mobile/lib/features/tree/view/tree_graph_view.dart
  mobile/lib/features/tree/view/tree_page.dart
  mobile/lib/features/user_profile/view/user_profile_view.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#117 Add relations
  web/src/app/app.module.ts
  web/src/app/people/person-form/person-form.component.html
  web/src/app/people/person-form/person-form.component.ts
  web/src/app/people/shared/people.service.ts
  web/src/app/people/shared/person-form.model.ts
  web/src/app/people/shared/person.pipe.ts
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/app/tree/tree-view/tree-view.component.scss
  web/src/app/tree/tree-view/tree-view.component.ts
Labels: Web

#119 Add simple green style
  web/src/app/navbar/navbar.component.html
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/app/user-profile/user-profile-form/user-profile-form.component.html
  web/src/styles.scss
Labels: Web

#120 Add error handling
  web/src/app/app.module.ts
  web/src/app/helpers/error-interceptor.ts
Labels: Web

#122 Feature: Enable saving tree photo
  mobile/android/app/build.gradle
  mobile/android/build.gradle
  mobile/android/settings_aar.gradle
  mobile/lib/contracts/common/base_repository.dart
  mobile/lib/contracts/tree/contracts.dart
  mobile/lib/contracts/tree/contracts.g.dart
  mobile/lib/contracts/tree/tree_repository.dart
  mobile/lib/features/cqrs/command_result.dart
  mobile/lib/features/cqrs/cqrs_action.dart
  mobile/lib/features/cqrs/cqrs_client.dart
  mobile/lib/features/home/bloc/tree_list_bloc.dart
  mobile/lib/features/home/bloc/tree_list_event.dart
  mobile/lib/features/home/view/add_tree_dialog.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile
