Repository TreeOfAKind/TreeOfAKind, pull requests merged in 2021-01, with the labels that each got.

#125 Person files
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/helpers/file-response.model.ts
  web/src/app/people/people-list/people-list.component.html
  web/src/app/people/person-files-form/person-files-form.component.html
  web/src/app/people/person-files-form/person-files-form.component.scss
  web/src/app/people/person-files-form/person-files-form.component.ts
  web/src/app/people/person-form/person-form.component.html
  web/src/app/people/person-form/person-form.component.ts
  web/src/app/people/shared/file-response.model.ts
  web/src/app/people/shared/people.service.ts
  web/src/app/people/shared/person-response.model.ts
  web/src/app/people/shared/remove-persons-file.model.ts
  web/src/app/tree/shared/tree.model.ts
Labels: Web

#128 Feature: Family members CRUD + relations
  mobile/lib/app/dependencies_factory.dart
  mobile/lib/app/dependencies_injector.dart
  mobile/lib/contracts/common/base_repository.dart
  mobile/lib/contracts/people/contracts.dart
  mobile/lib/contracts/people/contracts.g.dart
  mobile/lib/contracts/people/people_repository.dart
  mobile/lib/features/common/avatar.dart
  mobile/lib/features/common/generic_error.dart
  mobile/lib/features/common/helpers.dart
  mobile/lib/features/cqrs/command_result.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/lib/features/home/view/tree_list_view.dart
  mobile/lib/features/people/bloc/people_bloc.dart
  mobile/lib/features/people/bloc/people_event.dart
  mobile/lib/features/people/bloc/people_state.dart
  mobile/lib/features/people/view/add_or_update_person_view.dart
  mobile/lib/features/people/view/add_person_page.dart
  mobile/lib/features/people/view/auto_complete_relation.dart
  mobile/lib/features/people/view/update_person_page.dart
  mobile/lib/features/tree/bloc/tree_bloc.dart
  mobile/lib/features/tree/bloc/tree_event.dart
  mobile/lib/features/tree/bloc/tree_state.dart
  mobile/lib/features/tree/view/tree_graph_view.dart
  mobile/lib/features/tree/view/tree_page.dart
  mobile/lib/features/user_profile/view/user_profile_view.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/features/user_profile/view/avatar_test.dart
  mobile/test/features/user_profile/view/user_profile_view_test.dart
Labels: mobile

#126 Add person updating
  web/src/app/people/person-form/person-form.component.html
  web/src/app/people/person-form/person-form.component.ts
  web/src/app/people/shared/people.service.ts
  web/src/app/people/shared/person-update.model.ts
Labels: Web

#127 Add tree export
  backend/Tests/TreeOfAKind.IntegrationTests/Files.cs
  backend/TreeOfAKind.API/Trees/GetTreeFileExport.cs
  backend/TreeOfAKind.API/Trees/TreeController.cs
  backend/TreeOfAKind.Application/DomainServices/FamilyTreeFileExporter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomToXmlStreamConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GxExtensions.cs
  backend/TreeOfAKind.Application/DomainServices/IFamilyTreeFileExporter.cs
  backend/TreeOfAKind.Application/DomainServices/IGedcomToXmlStreamConverter.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTreeFileExport/GetTreeFileExportQuery.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTreeFileExport/GetTreeFileExportQueryHandler.cs
  backend/TreeOfAKind.Application/TreeOfAKind.Application.csproj
  backend/TreeOfAKind.Infrastructure/Domain/DomainModule.cs
Labels: backend

#130 Add owners to tree query
  backend/Tests/TreeOfAKind.IntegrationTests/TreeCreation.cs
  backend/TreeOfAKind.Application/Query/Trees/GetMyTrees/ITreeQueryRepository.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTree/GetTreeQueryHandler.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTree/TreeDto.cs
  backend/TreeOfAKind.Application/Query/UserProfiles/GetMyUserProfile/UserProfileDto.cs
  backend/TreeOfAKind.Infrastructure/Domain/Trees/TreeQueryRepository.cs
Labels: backend

#131 Add tree drawing
  web/package-lock.json
  web/package.json
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/licenses/licenses.component.html
  web/src/app/licenses/licenses.component.scss
  web/src/app/licenses/licenses.component.ts
  web/src/app/navbar/navbar.component.html
  web/src/app/tree/shared/diagram-member.model.ts
  web/src/app/tree/tree-draw/tree-draw.component.html
  web/src/app/tree/tree-draw/tree-draw.component.scss
  web/src/app/tree/tree-draw/tree-draw.component.ts
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/assets/person-black-18dp.svg
Labels: Web

#129 Fix bussines rules for person update
  backend/TreeOfAKind.Domain/Trees/Rules/ThereAreOnlyOneSpouseRule.cs
  backend/TreeOfAKind.Domain/Trees/Tree.cs
  backend/TreeOfAKind.Domain/Trees/TreeRelations.cs
Labels: backend

#132 Add person query
  backend/TreeOfAKind.API/People/GetPersonRequest.cs
  backend/TreeOfAKind.API/People/PeopleController.cs
  backend/TreeOfAKind.API/Trees/TreeController.cs
  backend/TreeOfAKind.Application/Query/Trees/GetPerson/GetPersonQuery.cs
  backend/TreeOfAKind.Application/Query/Trees/GetPerson/GetPersonQueryHandler.cs
  backend/TreeOfAKind.Application/Query/Trees/GetPerson/GetPersonQueryValidator.cs
  backend/TreeOfAKind.Application/Query/Trees/ITreeQueryRepository.cs
  backend/TreeOfAKind.Application/Query/Trees/TreeDto.cs
  backend/TreeOfAKind.Infrastructure/Database/DataAccessModule.cs
  backend/TreeOfAKind.Infrastructure/Domain/Trees/TreeQueryRepository.cs
Labels: backend

#134 Add file import
  backend/Tests/TreeOfAKind.IntegrationTests/ExportImport.cs
  backend/Tests/TreeOfAKind.IntegrationTests/PersonsFiles.cs
  backend/Tests/TreeOfAKind.UnitTests/Trees/FileImport.cs
  backend/Tests/TreeOfAKind.UnitTests/Validators/AddOrChangeTreePhotoCommandValidatorTests.cs
  backend/Tests/TreeOfAKind.UnitTests/Validators/AddPersonFileCommandValidatorTests.cs
  backend/Tests/TreeOfAKind.UnitTests/Validators/AddPersonPhotoValidatorTests.cs
  backend/TreeOfAKind.API/PersonsFiles/PersonsFilesController.cs
  backend/TreeOfAKind.API/Trees/CreateTreeFromFileRequest.cs
  backend/TreeOfAKind.API/Trees/TreeController.cs
  backend/TreeOfAKind.Application/Command/Trees/People/AddPersonsFile/AddPersonsFileCommand.cs
  backend/TreeOfAKind.Application/Command/Trees/People/AddPersonsFile/AddPersonsFileCommandHandler.cs
  backend/TreeOfAKind.Application/Command/Trees/People/AddPersonsFile/AddPersonsFileCommandValidator.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/CreateTreeFromFile/CreateTreeFromFileCommandHandler.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/CreateTreeFromFile/CreateTreeFromFileCommandValidator.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/CreateTreeFromFile/CreteTreeFromFileCommand.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/RemoveMyselfFromTreeOwners/RemoveMyselfFromTreeOwnersCommand.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/RemoveMyselfFromTreeOwners/RemoveMyselfFromTreeOwnersCommandHandler.cs
  backend/TreeOfAKind.Application/DomainServices/FamilyTreeFileExporter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXDateExtractor.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXNameExtractor.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXNoteExtractor.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainGenderConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainPersonConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainRelationConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainRelationTypeConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainTreeConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXDateExtractor.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXNameExtractor.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXNoteExtractor.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXToDomainGenderConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXToDomainPersonConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXToDomainRelationConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXToDomainRelationTypeConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXToDomainTreeConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IXmlStreamToGedcomXParser.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/XmlStreamToGedcomXParser.cs
  backend/TreeOfAKind.Application/DomainServices/GxExtensions.cs
  backend/TreeOfAKind.Application/TreeOfAKind.Application.csproj
  backend/TreeOfAKind.Infrastructure/ApplicationStartup.cs
  backend/TreeOfAKind.Infrastructure/Domain/GedcomXToDomainModule.cs
Labels: backend

#135 Feature: Family member files
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  mobile/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  mobile/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  mobile/assets/.gitkeep
  mobile/assets/logo_with_name.png
  mobile/assets/logo_with_name.svg
  mobile/assets/logo_without_name.png
  mobile/assets/logo_without_name.svg
  mobile/lib/app/dependencies_factory.dart
  mobile/lib/contracts/people/contracts.dart
  mobile/lib/contracts/people/contracts.g.dart
  mobile/lib/contracts/people/people_repository.dart
  mobile/lib/features/common/avatar.dart
  mobile/lib/features/common/empty_widget_info.dart
  mobile/lib/features/common/generic_error.dart
  mobile/lib/features/common/splash_page.dart
  mobile/lib/features/home/bloc/tree_list_bloc.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/lib/features/login/view/login_form.dart
  mobile/lib/features/people/bloc/people_bloc.dart
  mobile/lib/features/people/bloc/people_event.dart
  mobile/lib/features/people/view/add_or_update_person_view.dart
  mobile/lib/features/people/view/update_person_page.dart
  mobile/lib/features/person_files/bloc/person_files_bloc.dart
  mobile/lib/features/person_files/bloc/person_files_event.dart
  mobile/lib/features/person_files/bloc/person_files_state.dart
  mobile/lib/features/person_files/view/person_files_page.dart
  mobile/lib/features/person_files/view/person_files_view.dart
  mobile/lib/features/tree/view/tree_graph_view.dart
  mobile/lib/features/tree/view/tree_page.dart
  mobile/lib/resources/images.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#137 Add tree management
  web/src/app/app.module.ts
  web/src/app/tree/shared/owner.model.ts
  web/src/app/tree/shared/tree.model.ts
  web/src/app/tree/shared/tree.service.ts
  web/src/app/tree/tree-owners/tree-owners.component.html
  web/src/app/tree/tree-owners/tree-owners.component.scss
  web/src/app/tree/tree-owners/tree-owners.component.ts
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/app/tree/tree-view/tree-view.component.ts
Labels: Web

#144 Remove password requirements
  mobile/lib/features/authentication/models/password.dart
Labels: bug, mobile

#140 Poster
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/import-export/poster/poster.component.html
  web/src/app/import-export/poster/poster.component.scss
  web/src/app/import-export/poster/poster.component.ts
  web/src/app/tree/shared/tree-diagram.service.ts
  web/src/app/tree/tree-draw/tree-draw.component.ts
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/app/tree/tree-view/tree-view.component.ts
Labels: Web

#146 Add tree import and export
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/import-export/export/export.component.html
  web/src/app/import-export/export/export.component.scss
  web/src/app/import-export/export/export.component.ts
  web/src/app/import-export/import/import.component.html
  web/src/app/import-export/import/import.component.scss
  web/src/app/import-export/import/import.component.ts
  web/src/app/import-export/shared/import-export.service.ts
  web/src/app/people/shared/people.service.ts
  web/src/app/tree/tree-view/tree-view.component.html
  web/src/app/tree/trees-list/trees-list.component.html
  web/src/app/tree/trees-list/trees-list.component.scss
Labels: Web

#147 Add password reset
  web/src/app/authentication/login/login.component.html
  web/src/app/authentication/login/login.component.ts
  web/src/app/authentication/shared/auth.service.ts
Labels: Web

#148 Add redirect to home page after leaving the tree
  web/src/app/tree/tree-owners/tree-owners.component.ts
Labels: Web, bug

#149 Remove displaying d.o.b. when there is no date
  web/src/app/people/shared/person.pipe.ts
Labels: Web, bug

#150 Add accepted files extensions
  web/src/app/import-export/import/import.component.html
  web/src/app/people/person-files-form/person-files-form.component.html
  web/src/app/tree/tree-photo/tree-photo.component.html
Labels: Web, bug

#151 Add logo
  web/src/app/licenses/licenses.component.html
  web/src/favicon.ico
Labels: Web

#152 Add unauthorized user error message
  web/src/app/helpers/error-interceptor.ts
Labels: Web, bug

#136 Add Tree statistics
  backend/TreeOfAKind.API/Trees/TreeController.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTreeStatistics/GetTreeStatisticsQuery.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTreeStatistics/GetTreeStatisticsQueryHandler.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTreeStatistics/TreeStatisticsDto.cs
Labels: backend

#154 Fix average for empty people list
  backend/TreeOfAKind.API/appsettings.json
  backend/TreeOfAKind.Application/Query/Trees/GetTreeStatistics/GetTreeStatisticsQueryHandler.cs
  backend/TreeOfAKind.Application/Query/Trees/GetTreeStatistics/TreeStatisticsDto.cs
Labels: backend, bug

#153 Add missing fields to appsettings
  backend/TreeOfAKind.API/appsettings.json
Labels: backend

#138 Fix adding tree owner if owner doesnt have an account
  backend/TreeOfAKind.Infrastructure/Authentication/UserAuthIdProvider.cs
Labels: backend, bug

#139 Add mail sending when adding tree owner
  backend/Tests/TreeOfAKind.UnitTests/TreeOfAKind.UnitTests.csproj
  backend/Tests/TreeOfAKind.UnitTests/Trees/FileImport.cs
  backend/TreeOfAKind.API/TreeOfAKind.API.csproj
  backend/TreeOfAKind.API/email-template.html
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/AddTreeOwner/AddTreeOwnerCommandHandler.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/AddTreeOwner/TreeOwnerAddedEventHandler.cs
  backend/TreeOfAKind.Application/Configuration/Emails/EmailMessage.cs
  backend/TreeOfAKind.Application/Configuration/Emails/EmailsSettings.cs
  backend/TreeOfAKind.Domain/Trees/Events/TreeOwnerAddedEvent.cs
  backend/TreeOfAKind.Domain/Trees/Tree.cs
  backend/TreeOfAKind.Domain/UserProfiles/IUserProfileRepository.cs
  backend/TreeOfAKind.Infrastructure/Domain/UserProfiles/UserProfileRepository.cs
  backend/TreeOfAKind.Infrastructure/Emails/EmailSender.cs
  backend/TreeOfAKind.Infrastructure/TreeOfAKind.Infrastructure.csproj
Labels: backend

#142 Fix relations in import export
  backend/Tests/TreeOfAKind.IntegrationTests/ExportImport.cs
  backend/Tests/TreeOfAKind.UnitTests/Trees/FileImport.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainRelationConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/GedcomXToDomainRelationTypeConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GedcomXImport/IGedcomXToDomainRelationTypeConverter.cs
  backend/TreeOfAKind.Application/DomainServices/GxExtensions.cs
Labels: backend, bug

#158 Add downloading, poster title and dates to poster 👼
  web/src/app/import-export/poster/poster.component.html
  web/src/app/import-export/poster/poster.component.ts
  web/src/app/tree/shared/tree-diagram.service.ts
Labels: Web

#156 Feature: Family statistics
  mobile/lib/contracts/tree/contracts.dart
  mobile/lib/contracts/tree/contracts.g.dart
  mobile/lib/contracts/tree/tree_repository.dart
  mobile/lib/features/login/view/login_form.dart
  mobile/lib/features/people/view/add_or_update_person_view.dart
  mobile/lib/features/stats/bloc/stats_bloc.dart
  mobile/lib/features/stats/bloc/stats_event.dart
  mobile/lib/features/stats/bloc/stats_state.dart
  mobile/lib/features/stats/view/pie_chart.dart
  mobile/lib/features/stats/view/stats_page.dart
  mobile/lib/features/stats/view/stats_view.dart
  mobile/lib/features/tree/view/tree_graph_view.dart
  mobile/lib/features/tree/view/tree_page.dart
  mobile/lib/resources/theme.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#159 Add tree merging
  backend/Tests/TreeOfAKind.IntegrationTests/MergeTrees.cs
  backend/TreeOfAKind.API/Trees/MergeTreesRequest.cs
  backend/TreeOfAKind.API/Trees/TreeController.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/MergeTrees/MergeTreesCommand.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/MergeTrees/MergeTreesCommandAuthorizer.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/MergeTrees/MergeTreesCommandHandler.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeAdministration/MergeTrees/MergeTreesCommandValidator.cs
  backend/TreeOfAKind.Application/Command/Trees/TreeOperationCommandAuthorizer.cs
  backend/TreeOfAKind.Application/DomainServices/TreeConnection/IMergePeopleService.cs
  backend/TreeOfAKind.Application/DomainServices/TreeConnection/IMergeTreesService.cs
  backend/TreeOfAKind.Application/DomainServices/TreeConnection/MergePeopleService.cs
  backend/TreeOfAKind.Application/DomainServices/TreeConnection/MergeTreesService.cs
  backend/TreeOfAKind.Infrastructure/Domain/DomainModule.cs
Labels: backend

#160 Add family stats
  web/package-lock.json
  web/package.json
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/tree/shared/tree-stats.model.ts
  web/src/app/tree/shared/tree.service.ts
  web/src/app/tree/stats/stats.component.html
  web/src/app/tree/stats/stats.component.scss
  web/src/app/tree/stats/stats.component.ts
  web/src/app/tree/tree-view/tree-view.component.html
Labels: Web

#161 Add trees merging
  web/src/app/app-routing.module.ts
  web/src/app/app.module.ts
  web/src/app/tree/shared/tree.service.ts
  web/src/app/tree/tree-merge/tree-merge.component.html
  web/src/app/tree/tree-merge/tree-merge.component.scss
  web/src/app/tree/tree-merge/tree-merge.component.ts
  web/src/app/tree/trees-list/trees-list.component.html
Labels: Web

#162 Fix navigation
  web/src/app/authentication/login/login.component.html
  web/src/app/authentication/register/register.component.html
  web/src/app/import-export/poster/poster.component.html
  web/src/app/people/person-files-form/person-files-form.component.html
  web/src/app/people/person-form/person-form.component.html
  web/src/app/tree/stats/stats.component.html
Labels: Web

#163 Feature: Merging trees & other stuff
  mobile/lib/contracts/tree/contracts.dart
  mobile/lib/contracts/tree/contracts.g.dart
  mobile/lib/contracts/tree/tree_repository.dart
  mobile/lib/contracts/user_profile/contracts.dart
  mobile/lib/contracts/user_profile/contracts.g.dart
  mobile/lib/features/home/bloc/tree_list_bloc.dart
  mobile/lib/features/home/bloc/tree_list_event.dart
  mobile/lib/features/home/bloc/tree_list_state.dart
  mobile/lib/features/home/view/add_or_update_tree_dialog.dart
  mobile/lib/features/home/view/add_tree_dialog.dart
  mobile/lib/features/home/view/home_page.dart
  mobile/lib/features/home/view/merge_trees_dialog.dart
  mobile/lib/features/home/view/tree_list_view.dart
  mobile/lib/features/owners/view/add_owner_dialog.dart
  mobile/lib/features/owners/view/owners_page.dart
  mobile/lib/features/owners/view/owners_view.dart
Labels: mobile

#172 Rework tree graph view using graphview library
  mobile/lib/features/tree/bloc/tree_bloc.dart
  mobile/lib/features/tree/bloc/tree_state.dart
  mobile/lib/features/tree/view/tree_graph_view.dart
  mobile/lib/features/tree/view/tree_page.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#164 Add selenium tests
  web/src/automatic_tests/TreeOfAKindSelenium.side
Labels: Web

#145 Add basic electron app
  web/.gitignore
  web/electron/index.js
  web/electron/package-lock.json
  web/electron/package.json
  web/src/index.html
Labels: Web

#178 Fix deleting family members
  mobile/lib/features/people/view/update_person_page.dart
Labels: bug, mobile
